body{
  background-color: #decaff;
}

#name{
  color: #fa8072;
  font-size: 36px;
  text-align: center
}

.hobby{
  color: blue;
  font-size: 20px
}
#myPic
  width: 300px
  height: 200px
